@tailwind base;
@tailwind components;
@tailwind utilities;

* [aria-hidden=true] {
  display: none!important;
}

li p {
  display: inline-block;
}


/* Layout 2 */

.container_v2.open .leftbar {
  @apply w-72;
}
.container_v2.closed .leftbar {
  @apply w-20;
}

:root {
  --is-mobile: 0;
}

@media only screen and (orientation: landscape) {

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  :root {
    --is-mobile: 1;
  }
  .container_v2 main {
    /*@apply w-full absolute mt-[4em] z-10;*/
  }
  .container_v2 {
    @apply flex-col ;
  }
  .container_v2 .menuarrow {
    @apply hidden ;
  }
  .container_v2 .leftbar {
    @apply fixed z-20;
  }
  .container_v2 .open .leftbar {
    @apply w-screen absolute ;
  }
  .container_v2 .mainTitle {
    @apply scale-100 w-auto !important ;
  }
  .container_v2.closed .leftbar {
    @apply w-screen min-h-0;
  }
  .container_v2.closed .leftbar .menuItems {
    @apply hidden !important ;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 991px) {
  #mainContent {
    @apply w-3/4;
    margin: auto;
  }
} 


.remark-highlight {
  overflow-x: scroll;
}

.navcontainer {
  @apply bg-base-200 p-2 m-0;
  border-bottom: 1px solid lightgrey ;  
}
.navbar {
  min-height: unset;
  @apply bg-transparent;
}
.menu > :where(li) > :where(ul) {
  @apply bg-base-200 !important;
}
.menu {
  @apply bg-base-200 !important;
}

.btn {
  @apply text-dark-purple ;
}

code[class*="language-"],
pre[class*="language-"] {
    line-height: 1!important;
    font-size: unset!important;
}
  

@media only screen and (max-width: 991px) {
  .menu-vertical > :where(li) > :where(ul) {
      position: initial!important ;
      border: none;
  }
  .menu-vertical > :where(li) {
      outline: none;
  }
}