.ipynb_notebook div.ipynb_code {
    background-color: #F8F8F8; 
    padding: 1em ;
    font-size: 90%;
    border: thin solid lightgrey;
    border-collapse: collapse;
    margin-bottom: 1em;
    /*line-height: 1;*/
}
.ipynb_notebook .ipynb_code p {
    margin: .2em ;
}