
div.ipynb-code code[class*="language-"], div.ipynb-code pre[class*="language-"] {
}
div.ipynb-code pre {
}
div.ipynb-code pre code , div.ipynb-output pre code {
    @apply p-2 leading-none;
}

div.tabs {
   width: 100%; 
}
div.tabs.size1 .tab {
    display: none
}
div.tab-content {
    width: max-content;
    display: grid;
}

div.tab-content .ipynb-display-label {
    text-align: center;
}
div.tab-content .ipynb-display-label p {
    @apply text-sm text-primary text-center; 
}

div.tab-display {
    position: relative ;
    grid-area: 1 / 1;
    visibility: hidden;
    width: max-content ;
}

div.tab-display.active {
    visibility: visible;
}