.mdxContent > * {
    all: revert;
}
/*
.mdxContent * ::before, .mdxContent * ::after {
  box-sizing: revert;
}*/

.mdxContent {
  all: revert ;
}

.mdxContent>h1:first-child , .mdxContent>h2:first-child {
  margin-top: 0 ;
}
