/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

.meyerreset html, .meyerreset  body, .meyerreset  div, .meyerreset  span, .meyerreset  applet, .meyerreset  object, .meyerreset  iframe, .meyerreset h1,
.meyerreset  h2, .meyerreset  h3, .meyerreset  h4, .meyerreset  h5, .meyerreset  h6, .meyerreset  p, .meyerreset  blockquote, .meyerreset  pre, .meyerreset a,
.meyerreset  abbr, .meyerreset  acronym, .meyerreset  address, .meyerreset  big, .meyerreset  cite, .meyerreset  code, .meyerreset del, .meyerreset  dfn, 
.meyerreset  em, .meyerreset  img, .meyerreset  ins, .meyerreset  kbd, .meyerreset  q, .meyerreset  s, .meyerreset  samp, .meyerreset small, .meyerreset  strike,
.meyerreset  strong, .meyerreset  sub, .meyerreset  sup, .meyerreset  tt, .meyerreset  var, .meyerreset b, .meyerreset  u, .meyerreset  i, .meyerreset  center,
.meyerreset dl, .meyerreset  dt, .meyerreset  dd, .meyerreset  ol, .meyerreset  ul, .meyerreset  li, .meyerreset fieldset, .meyerreset  form, .meyerreset  label,
.meyerreset  legend, .meyerreset table, .meyerreset  caption, .meyerreset  tbody, .meyerreset  tfoot, .meyerreset  thead, .meyerreset  tr, .meyerreset  th,
.meyerreset  td, .meyerreset article, .meyerreset  aside, .meyerreset  canvas, .meyerreset  details, .meyerreset  embed, .meyerreset  figure, 
.meyerreset  figcaption, .meyerreset  footer, .meyerreset  header, .meyerreset  hgroup, .meyerreset menu, .meyerreset  nav, .meyerreset output,
.meyerreset  ruby, .meyerreset  section, .meyerreset  summary, .meyerreset time, .meyerreset  mark, .meyerreset  audio, .meyerreset video {
	margin: revert;
	padding: revert;
	border: revert;
	font-size: revert;
    font: revert;
    font-weight: revert;
	vertical-align: revert;
}
.meyerreset :before , .meyerreset :after {
    font-size: 100%;
}
/* HTML5 display-role reset for older browsers */
.meyerreset article, .meyerreset  aside, .meyerreset  details, .meyerreset  figcaption, .meyerreset  figure, 
.meyerreset footer, .meyerreset  header, .meyerreset  hgroup, .meyerreset  menu, .meyerreset  nav, .meyerreset  section {
	display: block;
}
.meyerreset body {
	line-height: 1;
}
.meyerreset ol, .meyerreset  ul {
	list-style: none;
}
.meyerreset blockquote, .meyerreset  q {
	quotes: none;
}
.meyerreset blockquote:before, .meyerreset  blockquote:after,
.meyerreset q:before, .meyerreset  q:after {
	content: '';
	content: none;
}
.meyerreset table {
	border-collapse: collapse;
	border-spacing: 0;
}