.resetContent > * {
    all: revert;
}
/*
.mdxContent * ::before, .mdxContent * ::after {
  box-sizing: revert;
}*/

.resetContent {
  all: revert ;
}

.resetContent>h1:first-child , .resetContent>h2:first-child {
  margin-top: 0 ;
}

.resetContent th, .resetContent td , .resetContent table {
  border: thin solid black;
  border-collapse: collapse;
  padding: .1em;
}